<form class="form-horizontal" method="post" action="<%= session_path(:user) %>">
<div class="control-group">
    <label class="control-label" for="inputEmail">Email</label>
    <div class="controls">
      <input type="text" id="inputEmail" placeholder="Email" name="user[email]" autofocus="autofocus">
    </div>
</div>
<div class="control-group">
    <label class="control-label" for="inputPassword">Password</label>
    <div class="controls">
      <input type="password" id="inputPassword" placeholder="Password" name="user[password]">
    </div>
</div>
<div class="control-group">
  <div class="controls">
    <button type="submit" class="btn">Sign in</button>
  </div>
</div>
</form>

<%# <%= render "devise/shared/links" %>
