<% case Rearview.config.authentication[:strategy] %>
<% when :database  %>
<%= render "database_auth" %>
<% when :google_oauth2 %>
<%= render "google_oauth2_auth" %>
<% else %>
<h2>Rearview configuration for authentication strategy &quot;<%=  Rearview.config.authentication[:strategy] %>&quot;
requires configuring devise, customizing Rearview::User, and overriding views as appropriate</h2>
<% end %>
<%# <%= render "devise/shared/links" %>
